body {
    font-family:arial;
    font-size: 14px;
}

td {
    width: 65px;
    height: 15px;
    text-align: center;
    border: 1px solid lightgray;
}

table {
    border-collapse: collapse;
    font-family:arial;
    font-size: 11px;
}

tr:first-child{
    background-color: #031046;
    color: #f2f2f2;
}

tr:last-child {
    text-shadow: 0 0 5px #ffffff;
}

/*tr:nth-child(even) {*/
    /*background-color: #f2f2f2;*/
/*}*/

th {
    background-color: #4CAF50;
    color: white;
}

div {
    display: inline;
    vertical-align: center;
    margin: 5px;
}

.vacation {
    width: 200px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
    background-color: #66CCCC;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.idle {
    width: 200px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
    background-color: #FF0000;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.weekend {
    width: 200px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
    background-color: #90EE90;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.hatching {
    background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%);
    background-size: 1em 1em;
    background-color: #fff;
}